@import "../../styles/index.scss";

.UserInfo {
  display: flex;
  padding: 20px;

  &__image {
    border-radius: 20%;
    object-fit: cover;
    width: 70px;
    height: 70px;
  }

  &__infoWrap {
    margin-left: 10px;
  }

  &__header {
    margin: 0 0 10px;
  }

  &__text {
    @extend %global-text;
  }
}
