@import "../../styles/index.scss";

.CardBody {
  &__usersList {
    background-color: $light-green;
    min-height: 400px;
    overflow-y: auto;

    li:not(:last-of-type) {
      border-bottom: 1px solid $green;
    }
  }
}

.UserInfo {
  display: flex;
  padding: 20px;

  &__image {
    border-radius: 20%;
    object-fit: cover;
    width: 70px;
    height: 70px;
  }

  &__infoWrap {
    margin-left: 10px;
  }

  &__header {
    margin: 0 0 10px;
  }

  &__text {
    font-size: 1.1rem;
  }

  &_hidden {
    display: none;
  }
}
