@import "../../styles/index.scss";

.CardBody {
  &__usersList {
    background-color: $card-body-color;
    max-height: 500px;
    overflow-y: auto;

    li:not(:last-of-type) {
      border-bottom: 1px solid $card-items-border-color;
    }
  }
}
