@import "../../styles/index.scss";

.CardBody {
  &__usersList {
    background-color: $light-green;
    max-height: 600px;
    overflow-y: auto;

    li:not(:last-of-type) {
      border-bottom: 1px solid $green;
    }
  }
}
