$border-radius: 5px;
$black: #131313;
$global-bg-color: rgba(134, 204, 250, 0.815);
$card-header-color: rgb(161, 99, 243);
$card-body-color: #e1e1ff;
$card-items-border-color: rgba(188, 134, 250, 0.815);
$spinner-color: $card-header-color;
$spinner-bg-color: rgba(161, 99, 243, 0.2);
