@import"./styles/index.scss";

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap");

body {
  color: $black;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  font-family: "Mukta", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
